/* Body specific */

body {
    font-family: Custom-font, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

/* Font, list and video specific */

@font-face {
        font-family: Custom-font;
        src: url(Font/Finding-4BogD.otf);
}

ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

.orange {
    color: orange;
}

.bold {
    font-size: 22px;
    font-weight: 1000;
}

video {
    border: 5px groove orange;
    width: 600px;
    border-radius: 5px;
}

/* Header specific */

.header-container {
    align-items: center;
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-container2 {
    font-size: 26px;
    margin-right: 23%;
    white-space: nowrap;
} 

.header-list {
    display: flex;
    gap: 35%;
}

/* Main content/ section 1 - 4 specific */

/* Section 1 / Hero Banner */

.section1-container {
    align-content: center;
    background: #1F2937;
    color: #F9FAF8;
    display: flex;
    font-size: 48px;
    font-weight: 0;
    height: 400px;
    justify-content: space-around;
    text-align: center;
}

.section1-container2 {
margin-left: 100px;
}

.sub-hero {
    color: #E5E7EB;
    font-size: 26px;
    margin-top: -50px;
}

.button-one {
    background:#3882F6;
    border: none; 
    border-radius: 12.5px; 
    color: aqua; 
    cursor: pointer;
    font-size:20px;
    font-weight: 500px;
    height:50px; 
    width:150px;
}

/* Section 2 */


.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-two-container2 {
display: flex;
align-items: center;
text-align: center;
}

.images {
    border: 3px solid orangered;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

/* Section 3 */

.section-three {
    display: flex;
    height: 700px;
    align-items: center;
    flex-direction: column;
    background-color: #E5E7EB;
}

.video-two {
    margin-top: 40px;
}

.text {
    height: 400px;
    width: 700px;
    text-align: center;
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

/* Section 4 */

.section-four {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    color: white;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 60%;
        height: 100px;
       background-color: #3882F6;
       border-radius: 10px;
    }

    .button-two {
        color: white;
        font-size: 14px;
        width: 100px;
        height: 40px;
    border: 2px solid white;
    background: none;
    border-radius: 10px;
    }
    
/* Footer specific */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    font-size: 22px;
    color: white;
} 